/*Teblet Layout*/
@media only screen and (min-width:200px) and (max-width:991px){
    .social_area {
      max-width: 350px;
      padding-top: 14px;
    } 
    .inner_menu {
      background: none;
      min-height: auto;
    }
    
  .inner_menu::after {
    display: none;
  }
  .mean-container .mean-nav {
    margin-top: 0;
    width: 80%;
  }
  #main_header_area {
   padding: 20px 0;
  }
  #slider_area {
    margin-top: 0;
  }
  .inner_hero h1 {
    font-size: 55px;
   }
   .child_service .service_text {
    width: 72%;
  }
  /* .mini_menu {
    width: 60%;
  }
  .search_area {
    padding-top: 5px;
  } */
}
/*Mobile Layout*/
@media only screen and (min-width:200px) and (max-width:480px){
  .mini_menu {
    width: 100%;
    margin-bottom: 10px;
  }
  .mini_menu ul, .social_area ul {
    text-align: center;
}
.search_area, .logo_area {
  width: 200px;
	float: none;
	margin: 0 auto;
}
.search_area, .logo_area {
  width: 200px;
	float: none;
	margin: 0 auto;
}
.social_area ul li {
	margin: 0 5px;
}
.social_area {
	max-width: 440px;
}
.inner_hero h1 {
	font-size: 25px;
}
.inner_hero {
	padding-bottom: 10px;
}
#work_area {
	padding: 10px 0;
}
.child_area {
	width: 98%;
}
#footer_area {
	padding: 25px 0;
}
.child_footer {
	width: 96%;
}
#copyright_area {
	padding: 10px 0;
}
.left_copyright {
  width: 100%;
  margin-bottom: 10px;
}
.right_copyright {
	width: 100%;
	text-align: left;
}

}